.btn {
  @include text(1rem, 500, $black);
  font-family: inherit;

  padding: .8rem 1.5rem;

  border: 2px solid $black;
  border-radius: $radius_sm;
  cursor: pointer;
  background-color: $white;

  transition: background-color .1s linear, color .1s linear;

  &--pink {
    border-color: $pink;

    &:hover {
      background-color: $pink;
      color: $white;
    }
  }
}