.footer {
  padding-bottom: 2rem;
}

.footer__inner {
  display: flex;
  align-items: center;

  @media ($mw: $mobileSmall) {
    flex-direction: column;
    justify-content: center;
  }
}

.footer__text {
  @include text(.8rem, 600, $black);
  margin-right: 1rem;

  @media ($mw: $mobileSmall) {
    margin-right: 0;
    margin-bottom: .3rem;
  }
}