.lang {
  text-align: right;
  text-transform: uppercase;

  @media ($mw: $mobileSmall) {
    display: none;
  }
}

.lang__item {
  @include text(1rem, 500, $black);

  & + & {
    margin-left: 0.3rem;
  }

  &.active {
    color: $pink;
  }
}