.man {
  position: absolute;
  right: 8rem;
  bottom: 0;
  z-index: 2;

  max-width: 400px;
  overflow: hidden;

  @media ($mw: $notebook) {
    right: 0;
    max-height: 640px;
  }

  @media ($mw: $tablet) {
    max-height: 640px;
  }

  @media ($mw: $mobile) {
    max-height: 550px;
  }

  @media ($mw: $mobileSmall) {
    display: none;
  }
}