.modal-content {
  position: relative;

  padding: 2rem;

  background-color: $white;
  box-shadow: $shadow;
  border-radius: $radius_sm;
}

.modal__close {
  background: none;
  border: none;
  padding: 0;

  cursor: pointer;

  position: absolute;
  top: -1.5rem;
  right: -1.5rem;
  z-index: 1;

  transition: transform .4s ease;

  &:hover {
    transform: rotate(180deg);
  }
}

.modal__title {
  @include text(1.6rem, 500, $pink);
  margin-bottom: 0.5rem;
}

.modal__subtitle {
  @include text(1rem, 500, $black);
  line-height: 1.3;
}

.modal__footer {
  display: flex;
  align-items: center;
}