.nav {
  display: flex;
  justify-content: left;

  @media ($mw: $mobile) {
    justify-content: center;
  }

  @media ($mw: $mobileSmall) {
    display: none;
  }
}

.nav__link {
  @include text(1rem, 500, $black);

  padding: .3rem 1.5rem;

  border-radius: 20px;

  transition: background-color .05s linear;

  & + & {
    margin-left: 1rem;

    @media ($mw: $mobile) {
      margin-left: 0;
    }
  }

  &:hover {
    background-color: darken($gray, 15%);
  }

  &.active {
    color: $white;
    background-color: $pink;
  }

  @media ($mw: $mobile) {
    font-size: .9rem;
  }

  @media ($mw: $mobileSmall) {
    & + & {
      margin-top: 0;
    }
  }
}