.services {
  margin-bottom: 2rem;
}

.services__item {
  padding: 1.6rem;
  box-shadow: $shadow;

  margin-top: 1rem;
}

.services__item-header {
  display: flex;
}

.services__icon {
  width: 50px;
  height: 50px;
}

.services__item-title {
  @include text(1.4rem, 500, $black);
  display: flex;
  align-items: center;

  margin-left: 1.5rem;
}

.services__text {
  @include text(1rem, 400, $black);
  padding-top: 1.4rem;
}