@import "vars";

body {
  margin-left: 2rem;
  margin-right: 2rem;
  
  background-color: rgb(68, 68, 68);

  font-family: 'Roboto', sans-serif;
  font-size: 10px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

@import "blocks/header";