<!-- Modal -->
<div class="modal fade" id="requestModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <button class="modal__close" type="button" data-bs-dismiss="modal" aria-label="Close">
        <svg class="cross">
          <use xlink:href="#cross"></use>
        </svg>
      </button>

      <div class="modal__header">
        <h3 class="modal__title">Оставить заявку</h3>
        <h4 class="modal__subtitle">Заполните форму ниже и я свяжусь с вами в ближайшее время!</h4>
      </div>

      <form class="form" action="/" method="POST">
        <div class="form__group">
          <input class="input" type="text" placeholder="Ваше имя">
          <input class="input" type="email" placeholder="Ваш e-mail">
          <input class="input" type="tel" placeholder="Ваш телефон">
        </div>
      </form>

      <div class="modal__footer">

        <button class="btn  btn--pink" type="submit" href="#">Оставить заявку</button>

        <ul class="info  info--modal">
          <li class="info__item">
            <a class="info__link" href="tel:+7891123345">+789-112-3345</a>
          </li>
          
          <li class="info__item">
            <a class="info__link" href="mailto:hello@inweb.com">hello@inweb.com</a>
          </li>
        </ul>
      </div><!-- Modal footer -->
    </div><!-- Modal content -->
  </div><!-- Modal dialog -->
</div>